<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee ; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>TablaClientesBD</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ListaPagos</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.ListadoPagos</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UpdatePayment</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.UpdatePayment</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RemovePayment</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.RemovePayment</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ListaPagos</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UpdatePayment</servlet-name>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RemovePayment</servlet-name>
		<url-pattern>/Remove</url-pattern>
	</servlet-mapping>
</web-app>