<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee ; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>RegistroLogin</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.MainServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddPayment</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.AddPaymentServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.RegisterServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UpdatePayment</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.UpdatePaymentServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AdminMain</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.AdminMainServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.LogOutServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.SearchProductServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SearchDetails</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.SearchDetails</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.ProfileServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Orders</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.ShowOrders</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>OrderDetails</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.OrderDetails</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddPayment</servlet-name>
		<url-pattern>/Admin/Add</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UpdatePayment</servlet-name>
		<url-pattern>/Admin/Update</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AdminMain</servlet-name>
		<url-pattern>/Admin/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SearchDetails</servlet-name>
		<url-pattern>/SearchDetails</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Orders</servlet-name>
		<url-pattern>/Admin/ShowOrders</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>OrderDetails</servlet-name>
		<url-pattern>/Admin/OrderDetails</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/img/*</url-pattern>
		<url-pattern>/css/*</url-pattern>
		<url-pattern>/js/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>org.iesalixar.servidor.filters.FiltroAdmin</filter-class>		
	</filter>
	
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>org.iesalixar.servidor.filters.FiltroUsuario</filter-class>		
	</filter>
	
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<servlet-name>UpdatePayment</servlet-name>
		<servlet-name>AddPayment</servlet-name>
		<servlet-name>AdminMain</servlet-name>		
	</filter-mapping>	
	
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/Search</url-pattern>
	</filter-mapping>
</web-app>