<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Asignaturas del profesor')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>			
			<div class="col-8">
				<h3 class="text-center mt-3" th:text="'Matricula de: '+${profesor.nombre}+' '+${profesor.apellido1}+' '+${profesor.apellido2}"></h3>
				<table class="table table-stripped table-hover">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Creditos</th>
						<th>Curso</th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="a : ${asignatura.getProfesor()}">
					 	<td th:text="${a.getAsignatura().id}"></td>
					 	<td th:text="${a.getAsignatura().nombre}"></td>
					 	<td th:text="${a.getAsignatura().creditos}"></td>
					 	<td th:text="${a.getAsignatura().curso}"></td>
					 </tr>					
					</tbody>
				</table>
			</div>

			<footer th:replace="fragments/parts::footer(info='menu.subject')"></footer>
		</div>
	</div>
</body>
</html>