<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Asignatur de grado')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<h1 class="text-center mt-3">ASIGNATURAS</h1>
			<div class="col-8">
				<table class="table table-stripped table-hover">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Creditos</th>
							<th>Tipo</th>
							<th>Curso</th>
							<th>Cuatrimestre</th>
							<th>Profesor</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="a : ${asignatura}">
							<td th:text="${a.getId()}"></td>
							<td th:text="${a.getNombre()}"></td>
							<td th:text="${a.getCreditos()}"></td>
							<td th:text="${a.getTipo()}"></td>
							<td th:text="${a.getCurso()}"></td>
							<td th:text="${a.getCuatrimestre()}"></td>
							<td th:text="${a.getProfesor()}"></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</body>
</html>