<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EntregableUnidad3b</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Inicio</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.InicioServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Oficina</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.OficinaServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>EditarProductServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.EditarProductServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AdministradorInicioServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.AdministradorInicioServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.RegisterServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Inicio</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>Oficina</servlet-name>
		<url-pattern>/Oficina</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>AdministradorInicioServlet</servlet-name>
		<url-pattern>/Administrador/Inicio</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EditarProductServlet</servlet-name>
		<url-pattern>/Admin/EditarProduct</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>org.iesalixar.servidor.filters.FiltroAdmin</filter-class>
	</filter>

	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>org.iesalixar.servidor.filters.FiltroUsuario</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<servlet-name>Oficina</servlet-name>
		<servlet-name>EditarProductServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>Inicio</url-pattern>
	</filter-mapping>

</web-app>