<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EjercicioTrimestral</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
<!-- 	<session-config>
		<session-timeout>5</session-timeout>
	</session-config> -->

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.LogOutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Inicio</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.InicioServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Inicio</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmpleadosServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.EmpleadosServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EmpleadosServlet</servlet-name>
		<url-pattern>/Admin/Empleados</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddEmpleadoServlet</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.AddEmpleadoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddEmpleadoServlet</servlet-name>
		<url-pattern>/Admin/AddEmpleado</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MostrarProductos</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.MostrarProductosServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MostrarProductos</servlet-name>
		<url-pattern>/MostrarProductos</url-pattern>
	</servlet-mapping>
</web-app>