<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee ; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EjemploPost</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
		<description>Ejemplo de Post</description>
		<display-name>EjemploPost</display-name>
		<servlet-name>EjemploPost</servlet-name>
		<servlet-class>org.iesalixar.servidor.sbh</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- DEBE COINCIDIR CON DI -->
		<servlet-name>EjemploPost</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>